*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.githubButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.tempRenderHolder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.tempRenderHolder canvas {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
}

.compositedCardDomRender {
  display: flex;
  position: relative;
  font-family: 'Unchained', serif;
  line-height: 1.1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1400px;
}

img {
  display: block;
  width: 100%;
}

.card__artwork {
  position: absolute;
  width: 64%;
  right: 15%;
  top: 12%;
}

.card__baseLayer,
.card__manaLayer,
.card__rarityLayer,
.card__wreathLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__lockIconLayer {
  position: absolute;
  left: 54%;
  top: 2%;
  width: 18%;
  transform: translate(-50%, 15%);
}

.card__manaText {
  position: absolute;
  color: white;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.card__nameText {
  position: absolute;
  white-space: nowrap;
  color: white;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.card__descriptionText {
  position: absolute;
  text-align: center;
  color: black;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.card__descriptionText__inner {
  margin: auto;
}

.card__attackText {
  position: absolute;
  color: white;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.card__healthText {
  position: absolute;
  color: white;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
